<plugin name='nucleus' version='0.2.1' grailsVersion='2.2 &gt; *'>
  <author>CauseCode</author>
  <authorEmail>shashank.agrawal@causecode.com</authorEmail>
  <title>Nucleus Plugin</title>
  <description>            Brief summary/description of the plugin.
        </description>
  <documentation>https://bitbucket.org/causecode/nucleus</documentation>
  <type>NucleusGrailsPlugin</type>
  <resources>
    <resource>NucleusBootStrap</resource>
    <resource>NucleusConfig</resource>
    <resource>NucleusDevBootStrap</resource>
    <resource>NucleusResources</resource>
    <resource>NucleusUrlMappings</resource>
    <resource>com.cc.core.currency.CurrencyController</resource>
    <resource>com.cc.seo.sitemap.SitemapController</resource>
    <resource>com.cc.user.UserManagementController</resource>
    <resource>com.cc.contact.Contact</resource>
    <resource>com.cc.contact.Phone</resource>
    <resource>com.cc.contact.PhoneCountryCode</resource>
    <resource>com.cc.currency.Currency</resource>
    <resource>com.cc.geo.location.City</resource>
    <resource>com.cc.geo.location.Country</resource>
    <resource>com.cc.geo.location.Location</resource>
    <resource>com.cc.seo.sitemap.Sitemap</resource>
    <resource>com.cc.seo.sitemap.Url</resource>
    <resource>com.cc.user.Role</resource>
    <resource>com.cc.user.User</resource>
    <resource>com.cc.user.UserRole</resource>
    <resource>com.cc.contact.ContactService</resource>
    <resource>com.cc.user.UserManagementService</resource>
    <resource>com.cc.nucleus.NucleusTagLib</resource>
  </resources>
</plugin>